<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.itproject.frapp">

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />


    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"></uses-feature>

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission-sdk-23 android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:configChanges="locale|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".InitialSignup.InitialDPSelection"/>
        <activity android:name=".Legacy.InitialBirthdaySelection" />
        <activity android:name=".Legacy.InitialFontSelection" />
        <activity android:name=".InitialSignup.InitialLanguageSelection" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Settings.SettingsActivity" />
        <activity android:name=".Settings.ChooseDPSetting" />
        <activity android:name=".Legacy.UploadActivity" />
        <activity android:name=".ArtifactPages.ArtifactActivity" />
        <activity android:name=".Legacy.ChooseBirthdaySetting" />
        <activity android:name=".Legacy.ChooseFontSetting" />
        <activity android:name=".Settings.ChooseLanguageActivity" />
        <activity android:name=".MainGallery.HomeActivity"/>
        <activity android:name=".Legacy.SignupActivity" />
        <activity android:name=".Legacy.LoginActivity" />

        <activity android:name=".Upload.ArtifactUploadActivity" />
        <activity android:name=".Upload.ArtifactDateActivity" />
        <activity android:name=".Upload.ArtifactDescriptionActivity" />
        <activity android:name=".Upload.ArtifactTagsActivity" />

    </application>

</manifest>
